{% extends 'base.html.twig' %}

{% block stylesheets %}    
    <link rel="stylesheet" href="{{ asset('/../vendor/twbs/bootstrap/dist/css/bootstrap.min.css') }}">         
    <link rel="stylesheet" href="{{ asset('/css/login.css') }}">
{% endblock %}

{% block body %}    
    <div class="container">    
        <div class="card card-container">
            <p id="profile-name" class="profile-name-card"> {{ formLabel }}</p>                
                    
                       
                    
                    
                        {% if(error) %}
                            <div>                                
                                {{ error.message }}                                
                            </div>
                        {% endif %}
                        {{ form(form) }}
                    
                
            </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}